<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xmlns:util="http://www.springframework.org/schema/util"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <annotation-driven />

    <resources mapping="/resources/**" location="WEB-INF" />

    <!--
    <mvc:interceptors>
        <beans:bean class="org.oscasistemas.utils.VoidResponseHandlerInterceptor" />
    </mvc:interceptors> -->

    <beans:bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/WEB-INF/pages/" />
        <beans:property name="suffix" value=".jsp" />
    </beans:bean>

    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
                destroy-method="close">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url"
                        value="jdbc:mysql://192.168.2.2:3306/osca_localizacion?characterEncoding=utf8" />
        <beans:property name="username" value="osca" />
        <beans:property name="password" value="osca" />
    </beans:bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <beans:bean id="hibernate4AnnotatedSessionFactory"
                class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="annotatedClasses">
            <beans:list>
                <beans:value>org.oscasistemas.model.PedidoEntrada</beans:value>
                <beans:value>org.oscasistemas.model.PedidoSalida</beans:value>
                <beans:value>org.oscasistemas.model.CajaEntablado</beans:value>
                <beans:value>org.oscasistemas.model.CajaEntabladoMedida</beans:value>
                <beans:value>org.oscasistemas.model.TipoCaja</beans:value>
                <beans:value>org.oscasistemas.model.Lanzadera</beans:value>
                <beans:value>org.oscasistemas.model.Entablado</beans:value>
                <beans:value>org.oscasistemas.model.Articulo</beans:value>
                <beans:value>org.oscasistemas.model.Historico</beans:value>
                <beans:value>org.oscasistemas.model.Administrador</beans:value>
                <beans:value>org.oscasistemas.model.Acciones</beans:value>
                <beans:value>org.oscasistemas.model.TareasPendientes</beans:value>
                <beans:value>org.oscasistemas.model.AcessoLanzadera</beans:value>
                <beans:value>org.oscasistemas.model.TipoMovimiento</beans:value>
                <beans:value>org.oscasistemas.model.GruposLanzaderas</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="hibernateProperties">
            <beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
                </beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
            </beans:props>
        </beans:property>
    </beans:bean>

    <context:component-scan base-package="org.oscasistemas" />

    <tx:annotation-driven transaction-manager="transactionManager" />

    <beans:bean id="transactionManager"
                class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory"
                        ref="hibernate4AnnotatedSessionFactory" />
    </beans:bean>

    <beans:bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
        <beans:property name="messageFactory">
            <beans:bean class="com.sun.xml.messaging.saaj.soap.ver1_1.SOAPMessageFactory1_1Impl" />
        </beans:property>
    </beans:bean>






</beans:beans>